@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #222;
  --hover-bg: #333;
  --hover-color: #fff;
}

body{
  background-color: #f4f4f4;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar, caso tenha */
.navbar-custom {
  background-color: var(--primary-color) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1rem;
}

/* Navbar active link */
.nav-link.active {
  background-color: var(--hover-bg);
  color: var(--hover-color) !important;
}